.container {
  width: 960px;
}

.row{
  //background: #C8C8C8;
}

.col-lg-12{
  padding-left: 0;
  margin: 0;
}

@media screen and (max-width: 992px) {
  .card-component-header{
    background: red;
  }
}

.darkBlue {
  background: #3BAFDA;
}

.lightBlue{
  background: #40C0EF;
}

.darkRed{
  background: #DA4453;
}

.lightRed{
  background: #EF4A5B;
}

.darkGreen{
  background: #82B366;
}

.lightGreen{
  background: #B9E0A5;
}

.darkYellow{
  background: #FFD966;
}

.lightYellow{
  background: #FFE599;
}

.darkPurple{
  background: #B5739D
}

.lightPurple{
  background: #E1D5E7
}

.darkGray{
  background: #CCCCCC;
}

.lightGray{
  background: #E6E6E6;
}
