<div class="card-component">
    <div class="card-component-header">
        <img [src]="image">
    </div>
    <div class="card-component-footer">
        <ul *ngIf="type === 'cpu'">
            <li>{{ 'card-component.cpu' | translate }}: {{ info1 | slice: 0:15 }}</li>
            <li>{{ 'card-component.core' | translate }}: {{ info2 }} </li>
            <li>{{ 'card-component.cpuTemperature' | translate }}: {{ info3 }}</li>
        </ul>
        <ul *ngIf="type === 'ram'">
            <li>Arbeitspeicher total: {{ info1 }}</li>
            <li>Arbeitsspeicher benutzt: {{ info2 }} </li>
            <li>Arbeitsspeicher frei: {{ info3 }} </li>
        </ul>
        <ul *ngIf="type === 'storage'">
            <li>Festplatzenspeicher total: {{ info1 }}</li>
            <li>Festplatzenspeicher benutzt: {{ info2 }} </li>
            <li>Festplatzenspeicher frei: {{ info3 }} </li>
        </ul>

    </div>
</div>
