<div class="card-component">
    <div class="card-component-header" [style.background]="classDark">
        <img draggable="false" [src]="image">
    </div>
    <div class="card-component-footer" [style.background]="classLight">
        <ul *ngIf="type === 'cpu'">
            <li>{{ 'card-component.cpu' | translate }}: {{ info1 | slice: 0:15 }}</li>
            <li>{{ 'card-component.core' | translate }}: {{ info2 }} </li>
            <li>{{ 'card-component.cpuTemperature' | translate }}: {{ info3 }}</li>
            <li>{{ 'card-component.cpuCurrentFrequence' | translate }}: {{ info4 / 1000000 }} MHz</li>
            <li>{{ 'card-component.cpuMaxFrequence' | translate }}: {{ info5 / 1000000 }} MHz</li>
            <li>{{ 'card-component.cpuMinFrequence' | translate }}: {{ info6 / 1000000 }} MHz</li>
        </ul>
        <ul *ngIf="type === 'ram'">
            <li>{{ 'card-component.ram' | translate }}: {{ info1 / 1000000000 | number:'1.0-0' }} GB</li>
            <li>{{ 'card-component.ramUsed' | translate }}: {{ (100 * info2 / (info1 )) | number:'1.1-1' }} %</li>
            <li>
                <app-progressbar [usedProcent]="usedRamProcent"></app-progressbar>
            </li>
        </ul>
        <ul *ngIf="type === 'storage'">
            <li>{{ 'card-component.storage' | translate }}: {{ info1 / 1000000000 | number:'1.1-2'}} GB</li>
            <li>{{ 'card-component.storageUsed' | translate }}: {{info2 / 1000000000 | number:'1.1-2'}} GB </li>
            <li>{{ 'card-component.storageFree' | translate }}: {{ info3 / 1000000000 | number:'1.1-2'}} GB </li>
            <li>{{ 'card-component.storageUsed' | translate }}: {{ (100 * info2 / (info1 )) | number:'1.1-1' }} %</li>
        </ul>
        <ul *ngIf="type === 'system'" class="system">
            <li>{{ 'card-component.operatingSystem' | translate }}: {{ info1 }}</li>
            <li>{{ 'card-component.macAddress' | translate }} (LAN): {{ info2 }} </li>
            <li>{{ 'card-component.macAddress' | translate }} (WLAN): {{ info3 }} </li>
        </ul>
        <ul *ngIf="type === 'network'">
            <li>{{ 'card-component.ssid' | translate }}: {{ info1 }}</li>
            <li>{{ 'card-component.ipAddress' | translate }} (LAN): {{ info2 }} </li>
            <li>{{ 'card-component.ipAddress' | translate }} (WLAN): {{ info3 }} </li>
        </ul>
        <ul *ngIf="type === 'software'">
            <li>xaxada Version: {{ info1 }}</li>
            <li>PHP Version: {{ info2 }}</li>
            <li>{{ 'card-component.database' | translate }} : {{ info3 }} Version {{ info4 }}</li>
            <li>Webserver: {{ info5 }} Version {{ info6 }}</li>
        </ul>
    </div>
</div>
